h1,h2{color:blue;
}
h1:hover,h2:hover{color:crimson}
h1{
    font-family: "Bebas Neue";
    font-size:x-large;
    width: 100px;
}
.header{
    border-style: solid;
    border-color: aqua;
    border-radius: 100px;
}
body{
background-image: url(https://tse4.mm.bing.net/th/id/OIP.W9lTF-zXFlEt-zU04vT4awHaL2?r=0&rs=1&pid=ImgDetMain&o=7&rm=3);    
background-size: contain;
}